@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@400;500&display=swap');

:root{
    --primary:"#1A242D";
    --secondary:"#B2293D";
    --softlight:"#ECCE8E";
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    color:var(--primary,#1A242D);
    color:#1A242D;
    font-family: var(--secondary-font,'Lato');
    font-family:'Lato',sans-serif;
}
/* Utils */
.title,.subtitle{
    font-family: var(--primary-font);
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
}
.title{
    font-weight: 600;
    font-size: 2.5em;
}
.subtitle{
    font-weight: 500;
    font-size: 1.6em;
}
.subtitle--has-indent{
    text-indent: 28px;
}
.is--softlight{
    color:var(--softlight,#ECCE8E);
    color:#ECCE8E;
}
.is--secondary{
    color:var(--secondary,#B2293D);
    color:#B2293D;
}
.m__auto{
    margin: 0 auto!important;
}
.btn__size--m{
    width: 200px!important;
    line-height: 2!important;
}
.btn{
    margin:4px 15px;
    padding: 4px 8px;
    color:var(--primary,#1A242D);
    color:#1A242D;
    font-weight: 500;
    font-family: inherit;
    font-size: 0.8em;
    text-transform: uppercase;
    background: #fff;
    border:4px solid #1A242D;
    line-height: 1;
    width: 119px;
    height: 48px;
    outline: none;
    cursor: pointer;
    -webkit-transition: 0.35s;
    transition: 0.35s;
}
.btn:hover,
.btn:focus{
    border-color: var(--primary,#1A242D);
    border-color:#1A242D;
    color: #fff;
    background: #1a1a1a;
}
.btn__full--secondary{
    background:var(--secondary,#B2293D);
    background:#B2293D;
    color:#fff;
    border:var(--secondary,#B2293D);
    border:#B2293D;
}
.btn__full--secondary:focus,
.btn__full--secondary:hover{
    border-color:rgb(158, 26, 46);
    background: rgb(158, 26, 46);
    color:var(--softlight,#ECCE8E);
    color:#ECCE8E;
}
.btn__outline--softlight{
    background:#fff;
    color:#ECCE8E;
    border-color:#ECCE8E;
}
.btn__outline--softlight:focus,
.btn__outline--softlight:hover{
    background: #ECCE8E;
    border-color:#ECCE8E;
    color:#fff;
}
/* Navigation Section */
.navbar{
    position: fixed;
    top:0;
    width:100%;
    background: transparent;
    z-index: 100;
    overflow: hidden;
}
.navbar--moving{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    background:#fff;
}
.navbar__nav{
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a,
.navbar__nav .nav_menu {
    font-size: 1.5rem;
    flex:1;
}
.navbar__nav .nav_menu{
    list-style: none;
    display: flex;
    justify-content:flex-end;
}
#menuHam{
    display: none;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
}
.menu-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1002;
  }
  
  .menu-icon {
    position: absolute;
    width: 27px;
    height: 18px;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
  }
  
  .menu-line {
    background-color: #333;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    transition: all 0.25s ease-in-out;
  }
  .menu-line-2 {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .menu-line-3 {
    bottom: 0;
  }
  #menuHam.open .menu-line-1 {
   background-color:#B2293D;
    transform: translateY(11px) translateY(-50%) rotate(-45deg);
  }
  #menuHam.open .menu-line-2 {
    opacity: 0;
  }
  #menuHam.open .menu-line-3 {
    background-color:#B2293D;
    transform: translateY(-7px) translateY(50%) rotate(45deg);
  }
.menu__circle{
  background-color: transparent;
  width: 54px;
 height: 44px;
    position: absolute;
    margin: -12px -14px;
  border-radius: 50%;
  transform: scale(1);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
#menuHam:hover .menu__circle {
    transform: scale(1.09);
    background-color: rgba(236, 206, 142,0.7);
}
#menuHam.open .menu__circle {
    transform: scale(60);
  }
.navbar__nav.open{
    width: 100%;
}
.navbar__nav .nav_menu.open li a{
    font-size: 2.5em;
}
.navbar__nav .nav_menu.open{
  background-color: rgba(236, 206, 142,0.7);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__nav .nav_menu.open>li{
    margin-bottom: 10px;
}
.logo {
    padding: 2px 0;
    width: 86px;
    height: 60px;
}
.nav__link{
    margin: 0 4px;
    padding:2px 12px;
    font-weight: 400;
    font-size: 0.9em;
    color:var(--primary,#1A242D);
    color:#1A242D;
    text-decoration: none;
}
.nav__link--active,
.nav__link:hover{
    color:var(--secondary,#B2293D);
    color:#B2293D;
    border-bottom: 2px solid var(--secondary,#B2293D);
    border-bottom: 2px solid #B2293D;
}
@media screen and (max-width: 801px)
{
    .navbar__nav .nav_menu
    {
        display: none;
    }
    #menuHam{
        display: block;
    }
}
/* Hero Section  */
.hero{
    min-height: 100vh;
    /* position: relative; */
    overflow: hidden;
    background:#fff;
}
.hero__img{
    position: absolute; 
     left: 0; 
     top: 0;
    height: 100%;
    width: 100%; 
    z-index: 1;
    object-fit: cover;
    mix-blend-mode: screen;
    animation: reveal 1s ease 0.5s forwards;
    opacity: 0;
}
.hero__video{
    position: absolute; 
    left: 0;
     top: 0;
     height: 100%; 
    width: 100%; 
    object-fit: cover;
    animation: reveal 3s ease 1s forwards;
    opacity: 0;
}
.hero__bg{
    width: 100%;
    height: 100%;   
}
@keyframes reveal{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hero .arrow__down{
    position: absolute;
    bottom: 0px;
    left:49%;
}
.arrow__down{
    z-index: 10;
    text-decoration: none;;
    color:rgba(161, 28, 48,0.8);
}
.arrow__down:hover,
.arrow__down:active{
    color:var(--softlight);
    color:#ECCE8E;
}
.hero__content{
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items:flex-start;
    padding: 10%;
}
.content__header,.content__content{
    margin-bottom: 20px;
}
.content__footer{
    margin-left: 14px;
    padding: 0 12px;
}
.icon__link{
     color: #1A242D;
    text-decoration: none;
    margin:2px 10px;
}
.icon__link:hover,
.icon__link:focus{
    color:var(--softlight,#ECCE8E);
    color:#ECCE8E;
    transition: all 0.2s;
}
@media screen and (max-width:802px)
{
    .hero__content{
        height: 100vh;
        width: 100vw;
        margin-bottom: 0;
    }
   .hero .arrow__down{
       bottom:-40px;
   }
}

/* Work section */
.work,.contact{
    padding: 20px;
    margin:50px auto;
    display: flex;
    flex-direction: column;
}
.section__title{
    position:relative;
    margin: 20px 13%;
}
.line__s,
.line__m{
    display: block;
    border-bottom: 2px solid var(--primary,#1A242D);
    border-bottom: 2px solid #1A242D;
    width: 500px;
    margin-bottom: 10px;
}
.line__s{
    width: 200px;
}
.line__m{
    width: 300px;
}
.b__bot--softlight{
    border-bottom-color:var(--softlight,#ECCE8E);
    border-bottom-color:#ECCE8E;
}
.gallery__row{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
    margin-bottom: 40px;
}
.gallery__column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.gallery__img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: zoom-in;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    transition: 0.3s;
}

.gallery__img:hover{
    opacity: 0.7;
    border:1px solid #ECCE8E;
}
@media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .section__title{
         margin: 0;
    }
    .line__m{
        width: 250px;
    }
    .work .gallery__row .gallery__column{
        flex: 50%;
        max-width: 42%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

/* Section about */
.about{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    background:var(--primary,#1A242D);
    background:#1A242D;
    color:#fff;
    padding: 120px 20px;
    width: 100%;
    margin:40px 0;
}
.img__circle{
    border-radius: 50%;
    height: 358px;
    width: 400px;
    object-fit: cover;
}
.about__content{
    max-width: 300px;
}
.about__content .section__title{
    margin-left:-5%;
}
.section__text{
    text-indent: 10px;
    line-height: 29px;
}
.b__bot--secondary{
    border-bottom-color: #B2293D;
}
@media screen and (max-width:800px)
{
    .about{
        flex-wrap: wrap;
    }
    .img__circle{
        height: 247px;
        width: 262px;
    }
    .section__text{
        margin: 10px;
        font-size:0.9em;
    }
}
/* Contact */
.contact .gallery__column{
    max-width: 50%;
}
.flex__d-column{
    flex-direction: column;
}
.form__title{
    text-align: center;
    margin: 18px auto;
}
.form__title .subtitle
{
    font-size: 1.3em;
    letter-spacing: 0.5px;
}
.control__input{
    position: relative;
    margin-bottom: 22px;
}
.label{
    font-size: 16px;
    color: #1a1a1a;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    user-select: none;
}
.label>small{
    color:#555;
    font-size: 12px;
    user-select: none;
}
.input,.textarea{
    line-height: 50px;
    background:transparent;
    border:1px solid #1A242D;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color:#1A242D;
    outline:none;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.input:focus,
.input:hover,
.textarea:focus,
.textarea:hover{
    border-color:#ECCE8E;
}
.textarea{
    line-height: inherit;
    resize: none;
    padding: 20px;   
}
@media screen and (max-width:500px)
{
    .contact #form{
        max-width: 100%;
        flex:100%;
    }
    .contact #form .flex__d-column{
        flex-direction: row;
    }
}
/* Footer */
.footer{
    width: 100%;
    line-height: 3;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    background:var(--primary,#1A242D);
    background:#1A242D;
}
.footer_title,
.footer_title a{
    font-size: 0.9em;
    color:var(--softlight,#ECCE8E);
    color:#ECCE8E;
    letter-spacing: 2px;
    font-family: var(--primary);
    font-family: 'Playfair Display', serif;
}
.footer_title a{
    text-decoration: none;
    
}
.footer_title a:hover,
.footer_title a:focus{
    color:#B2293D;
}
@media screen and (max-width:600px)
{
    .footer_title,
    .footer_title a{
        font-size: 0.8em;
    }
}
/* btn gotop */
.btn__goTop{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    line-height: 3;
    padding: 5px;
    width: 46px;
    cursor: pointer;
    z-index: 20;
    background-color: #5E656B;
    border: 1px solid #5E656B;
    color: #B2293D;
    border-radius:8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.btn__goTop:hover,
.btn__goTop:focus{
    background-color: #B2293D;
    border: 1px solid #B2293D;
    color: #5E656B;
}
/* gallery modal */
/* The Modal (background) */
.gallery__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .gallery__modal__content {
    margin: auto;
    display: block;
    width: 80%;
    height: 75vh;
    object-fit: contain;
}
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  .gallery__modal__caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ECCE8E;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, .gallery__modal__caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .modal__close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .modal__close:hover,
  .modal__close:focus {
    color: #B2293D;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (max-width: 700px){
    .gallery__modal__content {
      width: 100%;
    }
  }